/* Global */
body {
    background-color: #141414;
    color: #f2f2f2;
    user-select: none;
}

a {
    color: #6060ff;
}

.flexbox {
    display: flex;
}

.flexbox-between {
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
}

.button {
    background-color: #6060ff;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.icon-button {
    cursor: pointer;
}

#templates {
    display: none;
}

ul {
    list-style: none;
}

.hover-info {
    display: none;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    border: 5px solid #141414;
    background-color: #303030;
    overflow: visible;
    white-space: nowrap;
    z-index: 1000;
}

:hover > .hover-info {
    display: flex;
}

.progress-bar-container {
    height: 20px;
    background-color: black;
}

.progress-bar {
    height: 100%;
    background-color: #6060ff;
    display: block;
}

/* Loading screen */
#loading-splash {
    width: 100%;
    height: 100%;
}

/* Header */
#header {
    width: 100%;
    height: 50px;
    background-color: #303030;
}

#title-container {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#title {
    font-size: 25px;
}

#version {
    font-size: 10px;
}

#timer {
    font-size: 40px;
    margin-left: 5px;
    margin-top: 5px;
}

#high-score-container {
    display: none;
}

#new-game-button {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

/* Game */
#game {
    display: none;
    justify-content: center;
    height: calc(100% - 50px);
}

#game > .tab {
    width: 500px;
    flex: 0 0 500px;
}

.title {
    font-size: 20px;
    margin-bottom: 5px;
}

.label-value-line {
    display: flex;
    justify-content: space-between;
}

.cost-list {
    width: 200px;
}

/* Tabs */
.tab-button {
    padding: 5px;
    background-color: #303030;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
}

.tab-button .img {
    flex: 0 0 64px;
    width: 64px;
    height: 64px;
}

.tab-button.enabled {
    display: flex;
}

.tab-button.selected {
    background-color: #a03030;
}

.tab-button .tab-text {
    text-align: center;
}

.tab:not(.selected) {
    display: none;
}

.tab {
    flex: 1 0 0;
}

.tab-button-progress-bar {
    width: 100%;
    height: 10px;
}

/* Workers */

#workers-container {
    margin-top: 5px;
    padding: 5px;
    width: 500px;
    background-color: #303030;
}

#workers-tab.selected {
    display: block;
}

.job-line {
    margin-top: 5px;
}

.job-line .amount-range, 
.job-line .amount {
    vertical-align: middle;
}

/* Hero */
#hero-tab-buttons {
    display: flex;
}

#hero-tab-buttons > li > .tab-button {
    height: 50px;
    width: 100px;
    font-size: 12px;
}

#hero-tab-buttons > li > .tab-button > img {
    flex: 0 0 32px;
    height: 32px;
    width: 32px;
}

#hero-tab-content {
    width: 100%;
}

#hero-tab-content > .tab {
    width: 100%;
}

#hero-arena-current-arena {
    height: 300px;
    width: 100%;
}

#hero-arena-current-arena .background {
    height: 100%;
    width: 100%;
}

.arena .image {
    height: 200px;
    width: 300px;
}

.arena {
    margin: 5px;
}

/* Tile object lists */
.tile-object-list {
    overflow-y: auto;
    margin-right: -500px;
    padding-right: 500px;
    height: 100%;
}

.tile-object-line {
    width: 500px;
    height: 100px;
    position: relative;
    background-color: #303030;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.tile-object-line,
.tile-object-line.affordable.bought {
    border: 1px solid #303030;
}

.tile-object-line.affordable {
    border: 1px solid #e0e0e0;
}

.tile-object-line.bought,
.tile-object-line.completed {
    background-color: #036030;
}

.tile-object-line .header {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

/* Buildings */
#buildings .building.affordable.bought {
    border: 1px solid #e0e0e0;
}

#buildings .building:not(.affordable) {
    cursor: default;
}

/* Upgrades */
#upgrades .upgrade.bought:hover > .hover-info {
    display: none;
}

#upgrades .upgrade.bought {
    cursor: default;
}

/* Research */
.research .progress-bar-container {
    width: 200px;
}

#researches .research.completed {
    cursor: default;
}

#researches .research.started:not(.completed) {
    border: 1px solid #e0e0e0;
}

/* Resources */

#resources {
    padding: 10px;
    width: 250px;
}

#game-gold-container {
    color: #a0a0a0;
}

#resources > li {
    display: flex;
    justify-content: space-between;
}